In [113]:
import pandas as pd
import numpy as np
import math as m

In [114]:
D = 127.00
U_rel = 0.03 ** 2

def lamb(u_a):
    return m.sqrt(0.1504 / u_a)

def alpha(lamb):
    return 0.5 * lamb

def two_r_median(r_inf, r_sup):
    return (r_inf + r_sup) / 2

def delta_two_r(r_inf, r_sup):
    return (r_sup - r_inf)

def uncertainty_two_r_median(r_inf, r_sup):
    return delta_two_r(r_inf, r_sup) / (2 * 3 ** (1/2)) 

def uncertainty_two_r_median_new(uncertainty_two_r_median, two_r_median):
    return uncertainty_two_r_median / two_r_median

def d(lamb, two_r_median, D):
    return lamb / (2 * m.sin(0.25 * m.asin(two_r_median / D)))

def U_c(alpha, d, U_rel, D, two_r_median, two_r_median_new):
    return (d / 2) * m.sqrt(U_rel + 0.25 * (1 / (((D / two_r_median) ** 2) - 1)) * ((d / alpha) ** 2 - 1) * (two_r_median_new ** 2))

In [115]:
u_a = [9.39, 9.00, 8.50, 8.00, 7.50]
r1_inf = [13.34, 13.30, 14.65, 14.50, 15.10]
r1_sup = [17.65, 17.70, 17.95, 18.55, 19.66]
r2_inf = [24.65, 20.49, 20.51, 21.20, 27.05]
r2_sup = [31.12, 30.10, 31.35, 30.85, 32.60]

In [116]:
df = pd.DataFrame(
    {
        'U[kV]' : u_a,
        '2r1_inf[mm]' : r1_inf,
        '2r1_sup[mm]' : r1_sup,
        '2r2_inf[mm]' : r2_inf,
        '2r2_sup[mm]' : r2_sup
    }
)

In [117]:
df

   U[kV]  2r1_inf[mm]  2r1_sup[mm]  2r2_inf[mm]  2r2_sup[mm]
0   9.39        13.34        17.65        24.65        31.12
1   9.00        13.30        17.70        20.49        30.10
2   8.50        14.65        17.95        20.51        31.35
3   8.00        14.50        18.55        21.20        30.85
4   7.50        15.10        19.66        27.05        32.60

In [118]:
df['lambda[A]'] = df['U[kV]'].apply(lamb)
df['alpha[A]'] = alpha(df['lambda[A]'])
df

,U[kV],2r1_inf[mm],2r1_sup[mm],2r2_inf[mm],2r2_sup[mm],lambda[A],alpha[A]
0,9.39,13.34,17.65,24.65,31.12,0.126558,0.063279
1,9.00,13.30,17.70,20.49,30.10,0.129271,0.064636
2,8.50,14.65,17.95,20.51,31.35,0.133019,0.066510
3,8.00,14.50,18.55,21.20,30.85,0.137113,0.068557
4,7.50,15.10,19.66,27.05,32.60,0.141610,0.070805

In [119]:
df['2r_ring_1'] = two_r_median(df['2r1_inf[mm]'], df['2r1_sup[mm]'])
df['2r_ring_2'] = two_r_median(df['2r2_inf[mm]'], df['2r2_sup[mm]'])
df

,U[kV],2r1_inf[mm],2r1_sup[mm],2r2_inf[mm],2r2_sup[mm],lambda[A],alpha[A],2r_ring_1,2r_ring_2
0,9.39,13.34,17.65,24.65,31.12,0.126558,0.063279,15.495,27.885
1,9.00,13.30,17.70,20.49,30.10,0.129271,0.064636,15.500,25.295
2,8.50,14.65,17.95,20.51,31.35,0.133019,0.066510,16.300,25.930
3,8.00,14.50,18.55,21.20,30.85,0.137113,0.068557,16.525,26.025
4,7.50,15.10,19.66,27.05,32.60,0.141610,0.070805,17.380,29.825

In [120]:
df['u_2r_ring_1'] = uncertainty_two_r_median(df['2r1_inf[mm]'], df['2r1_sup[mm]'])
df['u_2r_ring_2'] = uncertainty_two_r_median(df['2r2_inf[mm]'], df['2r2_sup[mm]'])
df

,U[kV],2r1_inf[mm],2r1_sup[mm],2r2_inf[mm],2r2_sup[mm],lambda[A],alpha[A],2r_ring_1,2r_ring_2,u_2r_ring_1,u_2r_ring_2
0,9.39,13.34,17.65,24.65,31.12,0.126558,0.063279,15.495,27.885,1.244190,1.867728
1,9.00,13.30,17.70,20.49,30.10,0.129271,0.064636,15.500,25.295,1.270171,2.774168
2,8.50,14.65,17.95,20.51,31.35,0.133019,0.066510,16.300,25.930,0.952628,3.129238
3,8.00,14.50,18.55,21.20,30.85,0.137113,0.068557,16.525,26.025,1.169134,2.785715
4,7.50,15.10,19.66,27.05,32.60,0.141610,0.070805,17.380,29.825,1.316359,1.602147

In [121]:
df['d_ring_1'] = df.apply(lambda row: d(row['lambda[A]'], row['2r_ring_1'], D), axis=1)
df['d_ring_2'] = df.apply(lambda row: d(row['lambda[A]'], row['2r_ring_2'], D), axis=1)
df

,U[kV],2r1_inf[mm],2r1_sup[mm],2r2_inf[mm],2r2_sup[mm],lambda[A],alpha[A],2r_ring_1,2r_ring_2,u_2r_ring_1,u_2r_ring_2,d_ring_1,d_ring_2
0,9.39,13.34,17.65,24.65,31.12,0.126558,0.063279,15.495,27.885,1.244190,1.867728,2.069748,1.143992
1,9.00,13.30,17.70,20.49,30.10,0.129271,0.064636,15.500,25.295,1.270171,2.774168,2.113432,1.289940
2,8.50,14.65,17.95,20.51,31.35,0.133019,0.066510,16.300,25.930,0.952628,3.129238,2.067454,1.294411
3,8.00,14.50,18.55,21.20,30.85,0.137113,0.068557,16.525,26.025,1.169134,2.785715,2.101914,1.329313
4,7.50,15.10,19.66,27.05,32.60,0.141610,0.070805,17.380,29.825,1.316359,1.602147,2.063467,1.195434

In [122]:
df['last_2r_ring_1'] = uncertainty_two_r_median_new(df['u_2r_ring_1'], df['2r_ring_1'])
df['last_2r_ring_2'] = uncertainty_two_r_median_new(df['u_2r_ring_2'], df['2r_ring_2'])
df

,U[kV],2r1_inf[mm],2r1_sup[mm],2r2_inf[mm],2r2_sup[mm],lambda[A],alpha[A],2r_ring_1,2r_ring_2,u_2r_ring_1,u_2r_ring_2,d_ring_1,d_ring_2,last_2r_ring_1,last_2r_ring_2
0,9.39,13.34,17.65,24.65,31.12,0.126558,0.063279,15.495,27.885,1.244190,1.867728,2.069748,1.143992,0.080296,0.066980
1,9.00,13.30,17.70,20.49,30.10,0.129271,0.064636,15.500,25.295,1.270171,2.774168,2.113432,1.289940,0.081946,0.109673
2,8.50,14.65,17.95,20.51,31.35,0.133019,0.066510,16.300,25.930,0.952628,3.129238,2.067454,1.294411,0.058443,0.120680
3,8.00,14.50,18.55,21.20,30.85,0.137113,0.068557,16.525,26.025,1.169134,2.785715,2.101914,1.329313,0.070749,0.107040
4,7.50,15.10,19.66,27.05,32.60,0.141610,0.070805,17.380,29.825,1.316359,1.602147,2.063467,1.195434,0.075740,0.053718

In [125]:
df['U_c_ring_1'] = df.apply(lambda row: U_c(row['alpha[A]'], row['d_ring_1'], U_rel, D, row['2r_ring_1'], row['last_2r_ring_1']), axis=1)
df['U_c_ring_2'] = df.apply(lambda row: U_c(row['alpha[A]'], row['d_ring_2'], U_rel, D, row['2r_ring_2'], row['last_2r_ring_2']), axis=1)
df

,U[kV],2r1_inf[mm],2r1_sup[mm],2r2_inf[mm],2r2_sup[mm],lambda[A],alpha[A],2r_ring_1,2r_ring_2,u_2r_ring_1,u_2r_ring_2,d_ring_1,d_ring_2,last_2r_ring_1,last_2r_ring_2,U_c_ring_1,U_c_ring_2
0,9.39,13.34,17.65,24.65,31.12,0.126558,0.063279,15.495,27.885,1.244190,1.867728,2.069748,1.143992,0.080296,0.066980,0.169836,0.079691
1,9.00,13.30,17.70,20.49,30.10,0.129271,0.064636,15.500,25.295,1.270171,2.774168,2.113432,1.289940,0.081946,0.109673,0.176868,0.144579
2,8.50,14.65,17.95,20.51,31.35,0.133019,0.066510,16.300,25.930,0.952628,3.129238,2.067454,1.294411,0.058443,0.120680,0.125355,0.159496
3,8.00,14.50,18.55,21.20,30.85,0.137113,0.068557,16.525,26.025,1.169134,2.785715,2.101914,1.329313,0.070749,0.107040,0.152794,0.145589
4,7.50,15.10,19.66,27.05,32.60,0.141610,0.070805,17.380,29.825,1.316359,1.602147,2.063467,1.195434,0.075740,0.053718,0.160232,0.067785